$black: #050505;
$black-40: rgba(0, 0, 0, 0.4);
$goldenrod: #f9c80e;
$black-64: rgba(0, 0, 0, 0.64);
$black-16: rgba(0, 0, 0, 0.16);
$white-40: rgba(255, 255, 255, 0.4);
$white-24: rgba(255, 255, 255, 0.24);
$white-64: rgba(255, 255, 255, 0.64);
$white-96: rgba(255, 255, 255, 0.96);
$white-80: rgba(255, 255, 255, 0.8);
$white-16: rgba(255, 255, 255, 0.16);
$black-96: rgba(0, 0, 0, 0.96);
$black-24: rgba(0, 0, 0, 0.24);
$black-80: rgba(0, 0, 0, 0.8);
$pinkish-grey: #b9b9b7;
$white: #ffffff;
$offwhite: #f4f4f4;
$faded-red: #dc3545;
$black: #111111;
$marigold: #ffc107;
$seafoam-green: #79f7aa;
$cherry: #cc0035;
$denim-blue: #354ca1;
$greyblue: #59c3c3;
$grass-green: #55910b;
$pink-red: #ff1053;